@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Italianno&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Platypi:ital,wght@0,300..800;1,300..800&family=Shadows+Into+Light+Two&family=Teko:wght@300..700&display=swap');

/*
handwriting - cursive - Shadows Into Light Two
flowing - cursive - Italianno
serif - Platypi
main - sans-serif - Inter
second - sans-serif = Mulish
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Inter', sans-serif;
    background: #111;
    color: beige;
}

.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.i-home {
    font-size: 2rem;
    margin-left: 1rem;
}